# fly.toml app configuration file generated for anonymous-messaging on 2024-12-30

app = "anonymous-messaging"
primary_region = "ewr" # Change this to your preferred region (e.g., mad, sin, lax)

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[mounts]]
  source = "chat_data"
  destination = "/data"

[env]
  PORT = "3001"
  DATABASE_PATH = "/data/chat_users.db"
